
{% extends "layout.html" %}
{% block content %}
    <div class="body-content">
  <div class="row">
    <div class="col-lg-4 col-sm-4 page-links">
      <i class="fa fa-newspaper-o float"></i>
    </div>
    <div class="col-lg-4 col-sm-4 page-links">
      <i class="fa fa-tasks float"></i>
   </div>
    <div class="col-lg-4 col-sm-4 page-links">
      <i class="fa fa-envelope-o float"></i>
    </div>
  </div><!-- /.row -->
</div>
<div id="center-below">
  <div id="focuses" style="opacity: 1;">
    <div class="prompt" style="opacity: 1; display: block;">
            <h3>Search a subreddit?</h3>
            <input type="text">
        </div>
    </div>
 </div>
{% endblock %}

