
{% extends "layout.html" %}
{% block content %}
    <div class="body-content">
      <div class="row settings">
        <h1>{{ current_user.username }} Settings Page:</h1>
    </div>
    
    <div class="row how-are-you-feeling">
        <div class="col-md-6">
        
          <h1>How are you feeling?</h1>
        </div>
        <div class="col-md-12">
          <label>Zen</label>
          <input type="checkbox" />
          
        </div>
        <div class="col-md-12">
          <label>Focuesed</label>
          <input type="checkbox" />
          </div>
        <div class="col-md-12">
          <label>Motivated</label>
          <input type="checkbox" />
          </div>
          

    <div class="col-md-6">
        
          <h1>News Feeds</h1>
        </div>
        <div class="col-md-12">
          <label>News</label>
          <input type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Development</label>
          <input type="checkbox" />
          </div>
        <div class="col-md-12">
          <label>Tech</label>
          <input type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Sports</label>
          <input type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Life</label>
          <input type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Food</label>
          <input type="checkbox" />
        </div>
          
        
    </div>
    <div class="col-mg-12">
        <div id="center-below">
          <div id="focuses" style="opacity: 1;">
            <div class="prompt" style="opacity: 1; display: block;">
                    <h3>Enter a subreddit to watch.</h3>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}