
{% extends "layout.html" %}
{% block content %}
    <div class="body-content">
   <center><h2 id="info" class=""></h2></center>

      <div class="row settings">
        <h1>{{ current_user.username }} Settings Page:</h1>

 
    </div>
    
     
    
    <div class="row">
    <div class="how-are-you-feeling-wrap">
        <div class="col-md-6">
          <h1>How are you feeling?</h1>
        </div>
        <div class="col-md-12">
          <label>Zen</label>
          {% if current_user.current_theme == 'zen' %}
            <input data-type="theme" id="zen" class="feeling-checkbox" type="checkbox" checked/>
          {% else %}
            <input data-type="theme" id="zen" class="feeling-checkbox" type="checkbox" />
          {% endif %}
        </div>
        <div class="col-md-12">
          <label>Focused</label>
          {% if current_user.current_theme == 'focused' %}
            <input data-type="theme" id="focused" class="feeling-checkbox" type="checkbox" checked/>
          {% else %}
            <input data-type="theme" id="focused" class="feeling-checkbox" type="checkbox" />
          {% endif %}
        </div>
        <div class="col-md-12">
          <label>Motivated</label>
          {% if current_user.current_theme == 'motivated' %}
            <input data-type="theme" id="motivated" class="feeling-checkbox" type="checkbox" checked/>
          {% else %}
            <input data-type="theme" id="motivated" class="feeling-checkbox" type="checkbox" />
          {% endif %}
        </div>
        <div class="col-md-12">
          <label>Inspired</label>
          {% if current_user.current_theme == 'inspired' %}
            <input data-type="theme" id="inspired" class="feeling-checkbox" type="checkbox" checked/>
          {% else %}
            <input data-type="theme" id="inspired" class="feeling-checkbox" type="checkbox" />
          {% endif %}
        </div>
    </div>      
<div class="news-feed-wrap">
    <div class="col-md-6">
        
          <h1>News Feeds</h1>
        </div>
        <div class="col-md-12">
        <form id="news-feed-form">
          <label>News</label>
          {% if current_user.news_feed['news'] %}
            <input data-type="feed" name="news" id="news" class="feed-checkbox" type="checkbox" checked/>
          {% else %}
            <input data-type="feed" name="news" id="news" class="feed-checkbox" type="checkbox" />
          {% endif %}
        </div>
        <div class="col-md-12">
          <label>Development</label>
        {% if current_user.news_feed['dev'] %}
          <input data-type="feed" name="dev" id="dev" class="feed-checkbox" type="checkbox" checked/>
        {% else %}
             <input data-type="feed" name="dev" id="dev" class="feed-checkbox" type="checkbox" />
        {% endif %}
          </div>
        <div class="col-md-12">
          <label>Tech</label>
        {% if current_user.news_feed['tech'] %}
          <input data-type="feed" name="tech" id="tech" class="feed-checkbox" type="checkbox" checked/>
        {% else %}
            <input data-type="feed" name="tech" id="tech" class="feed-checkbox" type="checkbox" />
          {% endif %}
        </div>
        <div class="col-md-12">
          <label>Sports</label>
        {% if current_user.news_feed['sports'] %}
          <input data-type="feed" name="sports" id="sports" class="feed-checkbox" type="checkbox" checked/>
         {% else %}
            <input data-type="feed" name="sports" id="sports" class="feed-checkbox" type="checkbox" />
          {% endif %}
        </div>
        <div class="col-md-12">
          <label>Life</label>
        {% if current_user.news_feed['life'] %}
          <input data-type="feed" name="life" id="life" class="feed-checkbox" type="checkbox" checked/>
        {% else %}
            <input data-type="feed" name="life" id="life" class="feed-checkbox" type="checkbox" />
          {% endif %}
        </div>
        <div class="col-md-12">
          <label>Food</label>
          {% if current_user.news_feed['food'] %}
            <input data-type="feed" name="food" id="food" class="feed-checkbox" type="checkbox" checked/>
          {% else %}
            <input data-type="feed" name="food" id="food" class="feed-checkbox" type="checkbox" />
          {% endif %}
        </div>
       </form>
        
    </div>
  </div>
    <div class="col-mg-12">
        <div id="center-below">
          <div id="focuses" style="opacity: 1;">
            <div class="prompt" style="opacity: 1; display: block;">
                    <h3>Enter a subreddit to watch.</h3>
                    <input id="reddit_name" type="text" style="display: inline-block;">
                    <input id="upvote_thresh_hold" type="number" style="width: 75px; display: inline-block;
  margin-left: 3rem;">
                </div>
            </div>
        </div>
        <center><h2 id="search_alert" style="display: none;">Subreddit not active</h2></center>
    </div>
<div id="accordion" class="col-mg-12">
  <h3>Reddits being watched <span id="num_reddits">0</span></h3>
  <div>
    <div class="monitored-reddits">
     <ul class="reddits"></ul>
    </div>
  </div>
</div>
    

 </div>
{% endblock %}