
{% extends "layout.html" %}
{% block content %}
    <div class="body-content">
    <center style="color: white;"><h1>Saved</h1></center>
      <div class="row settings">
        <h1>{{ current_user.username }} Settings Page:</h1>

 
    </div>
    {% for i in current_user.current_theme %}
      {{i}}
    {% endfor %}
    <div class="row">
    <div class="how-are-you-feeling-wrap">
        <div class="col-md-6">
          <h1>How are you feeling?</h1>
        </div>
        <div class="col-md-12">
          <label>Zen</label>
          <input data-type="theme" id="zen" class="feeling-checkbox" type="checkbox" value="checked"/>
        </div>
        <div class="col-md-12">
          <label>Focused</label>
          <input data-type="theme" id="focused" class="feeling-checkbox" type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Motivated</label>
          <input data-type="theme" id="motivated" class="feeling-checkbox" type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Inspired</label>
          <input data-type="theme" id="inspired" class="feeling-checkbox" type="checkbox" />
        </div>
    </div>      
<div class="news-feed-wrap">
    <div class="col-md-6">
        
          <h1>News Feeds</h1>
        </div>
        <div class="col-md-12">
        <form id="news-feed-form">
          <label>News</label>
          <input data-type="feed" name="news" id="news" class="feed-checkbox" type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Development</label>
          <input data-type="feed" name="dev" id="dev" class="feed-checkbox" type="checkbox" />
          </div>
        <div class="col-md-12">
          <label>Tech</label>
          <input data-type="feed" name="tech" id="tech" class="feed-checkbox" type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Sports</label>
          <input data-type="feed" name="sports" id="sports" class="feed-checkbox" type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Life</label>
          <input data-type="feed" name="life" id="life" class="feed-checkbox" type="checkbox" />
        </div>
        <div class="col-md-12">
          <label>Food</label>
          <input data-type="feed" name="food" id="food" class="feed-checkbox" type="checkbox" />
        </div>
       </form>
        
    </div>
  </div>
    <div class="col-mg-12">
        <div id="center-below">
          <div id="focuses" style="opacity: 1;">
            <div class="prompt" style="opacity: 1; display: block;">
                    <h3>Enter a subreddit to watch.</h3>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}