/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */
.faded {
    opacity: 0;
}

.opaque {
    opacity: 1;
}

*{
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

html {
  overflow-y: scroll;
}
ul, ol {
  padding: 0;
  list-style-type: none;
  }

body {
  padding-top: 60px;
  background: url('') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.page-links{
  text-align: center;
}
.fa-times-circle-o{
  font-size:2rem;
  margin-right: 1rem;
}
.fa-envelope-o, .fa-tasks, .fa-newspaper-o{
  font-size: 10rem;
  color: white;
  cursor: pointer;
}
.alert-success {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1pt solid rgba(255, 255, 255, 0.5);
  font-family: Arial;
}
.alert-info {
  color: #31708f;
  background-color: rgba(255, 255, 255, 0.65);
  border-color: #bce8f1;
}

.alert-fail {
  color: rgba(255,120,120, 1);
  background-color: rgba(255, 255, 255, 0.65);
  border-color: rgba(255,120,120, 0.65);
}

#center-below, #center-above {
  left: 0;
  top: 72.5%;
  -webkit-transform: translate(0,0);
  text-align: center;
}

#focuses .prompt input {
  width: 17em;
  border-bottom-width: 2px;
  font-weight: bold;
  line-height: 1.2em;
}

#introduction input, #focuses .prompt input {
  width: 50%;
  margin: 0 auto;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 3px solid #fff;
  color: #fff;
  outline: none;
  text-align: center;
}

#introduction input, #focuses .prompt1 input {
  width: 50%;
  margin: 0 auto;
  display: block;
  background: 0;
  border: 0;
  color: #fff;
  outline: none;
  text-align: center;
  width: 17em;
  border-bottom-width: 2px;
  font-size:3rem;
  font-weight: 200;
}

.prompt h3 {
  color: white;
}

.float {
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.float:hover {
  -webkit-transform:translate(0px,-10px);
  -moz-transform:translate(0px,-10px);
  -ms-transform:translate(0px,-10px);
  -o-transform:translate(0px,-10px);
  transform:translate(0px,-10px);
}
.navbar-inverse .navbar-link {
  color: white;
}
.fa-sign-out, .fa-home{
  font-size: 2rem;
  color: white;
}


#focuses .prompt input {
  font-size: 3rem;
  font-weight: 200;
}

.settings h1{
  color: white;
}

input[type=checkbox]{
  float:right;
}
body > div.container > div > div > div.row.how-are-you-feeling > div{
  padding-left: 0;
}
.how-are-you-feeling h1{
  text-decoration: underline;
}

.body.field {
  margin-bottom: 2.5rem;
  margin-left: 10.3rem;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}


.info{
  border-bottom: 3px solid #fff;
}

#accordion{
  margin-top:5rem;
}


.ui-accordion .ui-accordion-icons  {
    background: transparent;
    width: 100%;
    overflow-x: hidden;
    color: white;
    font-size: 2rem;
  }

.ui-widget-content {
  border: none;
}
.monitored-reddits{
  overflow-x: hidden;
}
.ui-accordion .ui-accordion-content {
  border-top: 0;
  background: transparent;
}
.ui-state-default{
  border: none;
}

.ui-accordion .ui-accordion-content {
   padding: 0;
}


@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

button {
  display: block;
  margin: 15px auto;
  width: 140px;
  padding: 5px;
  background: transparent;
  color: #fff;
  border: 0;
  border-radius: 5px;
}




